@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

$font: "DM Sans", sans-serif;
$color-0: #fff;
$color-1: #fff2f2;
$color-2: #fde8e8;
$color-3: #f5dddd;
$color-4: #e1bcbc;
$color-5: #cb8787;
$color-6: #a34e4e;
$color-7: #631616;
$color-8: #4a0303;
$color-9: #300000;
$color-10: #111;
